div{
    background-color: brown;
}
div{
    background-image: url("image/carousel-2.jpg");
}
/*bg repeat : no repeat->no repeated img
bg repeat : repeat-x;-> horizontally 
bg attachment : fixed/scroll ;->fixed img is fixed when scroll
but not in scroll type*/
p.dotted{
    border-style:dotted;
    border-right-style:solid ;
}
p.solid{
    border-style:solid ;
    border-width: 5px;
    border-color: blue;
    border-radius: 3px;
}
p.margin{
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
}
p.padding{
    border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
p.outline{
    outline-style: solid;
    outline-width: 10px;
    outline-color:purple ;
    outline-offset: 6px;
}
a:hover{
    color: blueviolet;
}
ul li{
    background-color: blue;
    color: aqua;
}